@font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend-Regular.ttf");
    
}

@font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend-RegularItalic.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend-BoldItalic.ttf");
}

@font-face {
    font-family: "Lexend";
    src: url("/fonts/Lexend-Bold.ttf");
}

@font-face {
    font-family: "Times New Roman";
    src: url("/fonts/Times-New-Roman.ttf");
}

@font-face {
    font-family: "Times New Roman";
    src: url("/fonts/Times-New-Roman-Italic.ttf");
}

@font-face {
    font-family: "Times New Roman";
    src: url("/fonts/Times-New-Roman-Bold-Italic.ttf");
}

@font-face {
    font-family: "Times New Roman";
    src: url("/fonts/Times-New-Roman-Bold.ttf");
}

@font-face {
    font-family: "Arial";
    src: url("/fonts/Arial.ttf");
}

@font-face {
    font-family: "Arial";
    src: url("/fonts/Arial-Italic.ttf");
}

@font-face {
    font-family: "Arial";
    src: url("/fonts/Arial-Bold-Italic.ttf");
}

@font-face {
    font-family: "Arial";
    src: url("/fonts/Arial-Bold.ttf");
}